.card {
  text-align: center;
}

.container {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill,  minmax(100px, 1fr));
  grid-gap: 1em;

  @media (max-width: $mantine-breakpoint-md) {
    grid-gap: 0.5em;
  }
}